<template name="afArrayField_inlineArray">
  <div class="form-group {{#if afFieldIsInvalid name=this.name}}has-error{{/if}} {{afArrayFieldClass}}"
      data-required={{required}} {{afFormGroupAtts}}>
    <label class="control-label">{{afFieldLabelText name=this.atts.name}} {{#if this.atts.help}}<span>- {{this.atts.help}}</span>{{/if}}</label>
    {{#if afFieldIsInvalid name=this.atts.name}}
      <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
    {{/if}}
    <div class="container-fluid">
      {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <div class="row">
          <div class="col-md-10">
            {{> afQuickField name=this.name label=false options=afOptionsFromSchema}}
          </div>
          <div class="col-md-2">
            {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
              <label class="control-label"></label>
              <div class="autoform-remove-item"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
            {{/if}}
          </div>
        </div>
      {{/afEachArrayItem}}
      {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        <div class="autoform-add-item cursor-pointer" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}">
          <i class="fa fa-plus" aria-hidden="true"></i> {{_ "add_new_line"}}
        </div>
      {{/if}}
    </div>
  </div>
</template>
