<template name="afObjectField_inlineObject">
  <div class="{{#if afFieldIsInvalid name=this.name}}has-error{{/if}}">
    {{#if this.label}}
      <label {{afFieldLabelAtts}}>{{afFieldLabelText name=this.name}}</label>
    {{/if}}
    <div class="form-inline">
      {{> afQuickFields quickFieldsAtts template="inlineObject"}}
    </div>
  </div>
</template>
