<template name="insertUpdateTemplate">
  <div class="card">
    <div class="card-body">
      {{#if data._id}}
        {{> quickForm
          collection=form.collection
          id=formIdUpdate
          type="method-update"
          fields=fields
          omitFields=omitFields
          schema=form.schema
          hiddenFields=hiddenFields
          meteormethod=methodNameUpdate
          doc=data
          buttonClasses="pull-right btn btn-primary"
          buttonContent=updateLabel
          var=var
        }}
      {{else}}
        {{> quickForm
          collection=form.collection
          id=formIdInsert
          type="method"
          fields=fields
          omitFields=omitFields
          schema=form.schema
          hiddenFields=hiddenFields
          meteormethod=methodNameInsert
          doc=data
          buttonClasses="pull-right btn btn-primary"
          buttonContent=insertLabel
          var=var
        }}
      {{/if}}
    </div>
  </div>
</template>
